/Cookies/nbproject/private/
/Cookies/build/
/UrlReWriting/nbproject/private/
/UrlReWriting/build/
/HiddenFields/nbproject/private/
/HiddenFields/build/
/HiddenFields/dist/
/UrlReWriting/dist/
/HttpSession/nbproject/private/
/HttpSession/build/
/Demo_Servlet/dist/
/Sessional2/nbproject/private/
/Sessional2/build/
/ShoppingCartApp/nbproject/private/
/ShoppingCartApp/build/
/WebSockets/nbproject/private/
/WebSockets/build/
/ShoppingCart/nbproject/private/
/ShoppingCart/build/
/JSTLCore/build/
/JSTLCore/dist/
/JSTLCore/nbproject/private/
/ServletListenerEvents/build/
/ServletListenerEvents/dist/
/ServletListenerEvents/nbproject/private/
/FilterDemo/build/
/FilterDemo/nbproject/private/
